<div class="container">
	<div class="row">
		<div class="col-xs-4" style="background-color: orange;">
			らららら
		</div>
		<div class="col-xs-8" style="background-color: red;">
			かかかか
		</div>
	</div>



	<div class="row">
		<div class="col-xs-6" style="background-color: green;">
			ふふふふ
		</div>
		<div class="col-xs-6" style="background-color: blue;">
			もこもも
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4" style="background-color: orange;">
			らららら
		</div>
		<div class="col-xs-8" style="background-color: red;">
			かかかか
		</div>
	</div>

</div>
